@use "../base/_vars" as *;

.header{
  background-color: $color-bg;
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &:before{
    content: "";
    display: block;
    height: 1px;
    background-color: $accent-color;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
  }
  &:after{
    content: "";
    display: block;
    height: 1px;
    background-color: $accent-color;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__description{
    background-color: $accent-color;
    color: $color-bg;
    font-size: 18px;
    padding: 9px 20px;
  }
}