@use "../base/_vars" as *;

.intro{
  background-color: $color-bg;
  position: relative;

  &__title{
    color: $accent-color;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 170px 112px;
    position: relative;

    &:before{
      content: "";
      display: block;
      width: 985px;
      height: 418px;
      position: absolute;
      border: 1px solid rgb(225, 253, 44);
      border-radius: 50%;
      transform: rotate(-17.42deg);
    }
  }

  &__description{
    font-size: 24px;
    color: $accent-color;
    text-align: center;
    padding: 0 410px 75px;
    margin-top: -92px;
  }

  &__img{
    position: absolute;
    width: 390px;
    bottom: -244px;
    right: 0;
  }
}