$main-color-bg: rgba(246, 160, 169, 1);
$color-bg: rgba(22, 119, 74, 1);
$accent-color: rgba(225, 253, 44, 1);
$text-color-main: rgba(79, 36, 121, 1);
$color-bg-light: rgba(187, 212, 208, 1);

$base-fz: 20px;
$base-lh: 1.3;
$base-ff: 'Roboto', sans-serif;